@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

main {
  margin: auto;
  text-align: center;
}

main > h1 {
  color: white;
  margin: 15px;
}

main img {
  margin: 10px;
}

main a.index {
  display: inline-block;
}

main a {
  color: white;
  display: block;
  margin: 10px;
}
